.conteudo {
    /* Preto com transparênciade 0.6*/
    background-color: rgba(0,0,0,0.6);
    /* Espaçamento interno (5px topo e fundo, 40px esq. E dir.) */
    padding: 5px 40px;
    /* Altura */
    height: 300px;
    }

    h1{
        color:blue;
        }
        
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style:italic;
        color:white; /*Definido cor branco*/
        border:2px solid blue;
        }

        body.bdAgua {
            /* Inserir ao fundo uma imagem */
            background-image: url(imagemAgua.jpg);
            /* Tamanho 100% */
            background-size: 100%;
            /* Não repetir a imagem (autoajuste) */
            background-repeat: no-repeat;
            }